@charset "utf-8";

.mx-auto {
    margin: 0 auto;
}

#wrap {
    position: relative;
    background-color: aliceblue;
}

#header {
    width: 1280px;
    height: 268px;
    background-color: #03c75a;
}

#container {
    width: 1280px;
    height: 2082px;
    background-color: #fff;
}

#footer {
    width: 1280px;
    height: 460px;
    background-color: #e7ecf1;
}

